---
# Main SASS file
---

section {
    clear: both;
}

footer {
    clear: both;
    margin: 3em 0;
    text-align: center;
    vertical-align: middle;
}

@import "mixins";
@import "typography";
@import "splash";
@import "header";
@import "about";
@import "collage";
@import "contact";
@import "dialog";