<section class="about">
    <!--
-->
    <div class="about-me"><img src="style/images/belinda.jpg" class="me" alt="Dit ben ik" /></div>
    <!--
-->
    <div class="about-info">
        <h1>Over mij</h1>
        <p>Ik ben Belinda Terrisse, woon in Hoogkarspel met mijn man en drie
            kinderen. Fotografie is al jaren mijn passie. Mijn droom is
            uitgekomen: van mijn passie mijn werk maken.</p>
        <p>Ik zou graag jullie droom uit willen laten komen. Jullie
            droombruiloft fotograferen. Een uniek verhaal vastleggen.
            Jullie verhaal! Het zou een eer zijn om dit voor jullie te
            mogen doen.</p>
        <p>Puur, Gevoelig, Romantisch, With a touch of Fashion.</p>
        <p>Als Fine Art fotografe maak ik veel gebruik van natuurlijk
            licht. Ik heb oog voor detail en ik wordt super enthousiast van een
            prachtige omgeving en styling.</p>
        <p>Voor jullie de onvergetelijke en intense momenten vastleggen is mijn
            doel. Ben je benieuwd wat ik allemaal voor jullie kan bieden? Neem
            dan vrijblijvend contact met me op.</p>
        <p>Liefs Belin</p>
    </div>
    </div>
    <!--
-->
</section>