<section class="collage">

{% capture index_str %}
  {% assign path_prefix = include.folder | append: "/" %}
  {% assign first = true %}
  {% for file in site.static_files %}
    {% if file.path contains path_prefix %}
      {% unless file.path contains '/thumbs/' %}
        {% if first %}{% assign first = false %}{% else %};{% endif %}{{ file.basename }}:{{ file.path | replace:' ','%20' }}
      {% endunless %}
    {% endif %}
  {% endfor %}
{% endcapture %}

{% assign index_list = index_str | split: ';' %}
{% assign left = index_list | size %}
{% assign current = 0 %}

{% for row in site.collage %}
  {% if row.items <= left %}{% unless include.skip_list contains forloop.index %}{% if current > 0%}>{% endif %}<div class="row row-{{ row.height }}"
    {% for col in row.cols %}
      ><div class="col col-{{ col.width }}"
      {% if col.height %}
        {% assign col_height = col.height | split: ',' %}
      {% else %}
        {% assign col_height = '100' | split: ',' %}
      {% endif %}
      {% for height in col_height %}
        {% assign base_path = index_list[current] %}
        {% assign w = base_path | strip | split: ':' %}
        ><div class="cell cell-{{ height | strip }} {% if include.interactive %}open-caroussel{% endif %}" style="background-image: url({{ w[1] }})" data-imgid="{{ w[0] }}"></div
        {% assign left = left | minus: 1 %}
        {% assign current = current | plus: 1 %}
      {% endfor %}
      ></div
    {% endfor %}
    ></div{% endunless %}{% endif %}
{% endfor %}
></section>