<section class="contact">
    <div class="contact-info">
        <h1>Let's talk</h1>

        <p class="vcard">
            <span class="fn org">Belinda Terrisse portrait photography</span><br />
            <i class="fa fa-phone"></i>: <a href="tel:+316-1375-9292" class="tel">+31 (0)6-1375 9292</a><br />
            <i class="fa fa-envelope"></i>: <a href="mailto:belindaterrisse@gmail.com"
                class="email">belindaterrisse@gmail.com</a>
        <div class="socialmedia">
            <a href="https://www.facebook.com/belinda.terrisse" class="facebook" title="Facebook"><i
                    class="fa fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/belindaterrisse" class="instagram" title="Instagram"><i
                    class="fa fa-instagram"></i></a>
            <a href="https://www.pinterest.com/belindaterrisse" class="pinterest" title="Pinterest"><i
                    class="fa fa-pinterest-square"></i></a>
        </div>
        </p>
    </div>

    <form class="contact-info" action="{{ site.email_post_url }}" method="post">
        <input type="hidden" name="redirect_to" value="{{ site.url }}/index.html#thanks" />

        <label for="f_name">Naam<span title="verplicht veld" style="color: brown">*</span>:</label>
        <input id="f_name" type="text" name="name" required="" placeholder="Je naam" />
        <label for="f_email">E-mail<span title="verplicht veld" style="color: brown">*</span>:</label>
        <input id="f_email" type="email" name="email" required="" placeholder="Je e-mail adres" />
        <label for="f_phone">Telefoonnummer:</label>
        <input id="f_phone" type="text" name="phone" placeholder="Je telefoonnummer" />
        <label for="f_date">Trouwdatum:</label>
        <input id="f_date" type="text" name="date" placeholder="Je trouwdatum" />
        <label for="f_message">Bericht:</label>
        <textarea id="f_message" name="message" rows="12" required="" placeholder="Type je bericht hier"></textarea>

        <button class="button" type="submit">Verzend</button>
    </form>
</section>

<div class="contact-thanks" id="thanks">
    <div class="contact-thanks-dialog">
        <h3 lang="nl">Je bericht is verzonden</h3>
        <div class="contact-thanks-dialog-content">
            <p lang="nl">Bedankt voor je bericht.</p>
            <p lang="nl">Ik neem zo snel mogelijk conatct met je op.</p>
        </div>
        <div class="contact-thanks-dialog-button-bar">
            <p lang="nl"><a class="button" href="#contact">Sluiten</a></p>
        </div>
    </div>
</div>