<div id="fullscreen">
  <div class="portfolio-nav">
    <span class="navigate previous fa fa-angle-left" aria-hidden="true"></span>
    <span class="navigate next fa fa-angle-right" aria-hidden="true"></span>
    <span class="navigate close" aria-hidden="true">&#10005;</span>
  </div>
  <div class="portfolio">
  {% for base_path in index_list %}
    {% assign w = base_path | strip | split: ':' %}
    {% assign imgid = w[0] %}
    {% assign photo = w[1] %}
    <div id="imgid-{{ imgid }}" class="caroussel">
      <div class="social-photo-link">
        <a data-pin-do="buttonPin" data-pin-id="{{ site.url }}{{ photo }}" data-pin-tall="true"
        href="https://www.pinterest.com/pin/create/button/?media={{ site.url }}{{ photo }}"></a>
      </div>
      <img src="" draggable="false" data-imgsrc="{{ photo }}" />
    </div>
  {% endfor %}
  </div>
</div>

<script>
    (function (document) {
        var $container = document.querySelector('#fullscreen');
        var $images = document.querySelectorAll('.open-caroussel');
        var $caroussel = document.querySelectorAll('.caroussel');
        var $next = document.querySelector('.navigate.next');
        var $previous = document.querySelector('.navigate.previous');
        var $close = document.querySelector('.close');

        $next.addEventListener('click', selectNext);
        $previous.addEventListener('click', selectPrevious);

        for (var i = 0; i < $images.length; i++) {
            $images[i].addEventListener('click', openCaroussel, false);
        }

        $close.addEventListener('click', closeCaroussel, false);

        var startX, startY;

        for (var i = 0; i < $caroussel.length; i++) {
            $caroussel[i].addEventListener('touchstart', handleTouchStart, false);
            $caroussel[i].addEventListener('touchmove', handleTouchMove, false);
            $caroussel[i].addEventListener('touchend', handleTouchEnd, false);
        }

        function openCaroussel(e) {
            $container.classList.add('open');
            select(document.querySelector('#imgid-' + this.dataset.imgid));
            return true;
        }

        function closeCaroussel() {
            $container.classList.remove('open');
            return true;
        }

        function handleTouchStart(e) {
            // fade:
            var selectedImg = document.querySelector('.caroussel.selected');
            selectedImg.style.transition = 'none';
            // next/prev:
            startX = e.changedTouches[0].screenX;
            startY = e.changedTouches[0].screenY;
            return false;
        }

        function handleTouchMove(e) {
            // fade:
            var selectedImg = document.querySelector('.caroussel.selected');
            var width = window.innerWidth * 1.2;
            var height = window.innerHeight * 1.2;
            var endX = e.changedTouches[0].screenX;
            var endY = e.changedTouches[0].screenY;
            selectedImg.style.opacity = Math.max(1.0 - Math.max((Math.abs(endX - startX) / width), (Math.abs(endY - startY) / height)), 0.3);
            e.preventDefault();
            return false;
        }

        function handleTouchEnd(e) {
            var dWidth = window.innerWidth / 6;
            var dHeight = window.innerHeight / 6;
            var endX = e.changedTouches[0].screenX;
            var endY = e.changedTouches[0].screenY;
            if ((startX - endX > dWidth) || (startY - endY > dHeight)) {
                selectNext();
            } else if ((endX - startX > dWidth) || (endY - startY > dHeight)) {
                selectPrevious();
            }
            return true;
        }

        function loadImg(img) {
            var innerImg = img.querySelector('img');
            innerImg.src = innerImg.dataset.imgsrc;
        }

        function unselect() {
            var img = currentImage();
            if (img) {
                img.style.opacity = '';
                img.style.transition = '';
                img.classList.remove('selected');
            }
        }

       function select(img) {
            unselect();

            loadImg(img);
            img.classList.add('selected');
            loadImg(nextImage());
            loadImg(previousImage());
        }

        function selectNext() {
            select(nextImage());
        }

        function selectPrevious() {
            select(previousImage());
        }

        function currentImage() {
            return document.querySelector('.caroussel.selected');
        }

        function nextImage() {
            var selectedImg = currentImage();
            if (selectedImg && selectedImg.nextElementSibling) {
                return selectedImg.nextElementSibling;
            } else {
                return selectedImg.parentElement.firstElementChild;
            }
        }

        function previousImage() {
            var selectedImg = currentImage();
            if (selectedImg && selectedImg.previousElementSibling) {
                return selectedImg.previousElementSibling;
            } else {
                return selectedImg.parentElement.lastElementChild;
            }
        }

    })(document);
</script>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
