.about {
  display: flex;
  flex-direction: column;

  .about-me, .about-info {
    flex: 50 50;
  }
  h1 {
    margin-top: 0;
  }

  img, .about-info {
    padding: 32px;
    box-sizing: border-box;
  }
  img {
    height: 100vw;
    width: 100%;
    max-height: 448px;
    max-width: 448px;
    object-fit: cover;
    object-position: top;
    display: block;
    margin: auto;
  }
  @media(min-width: $screen-wide) {
    flex-direction: row;
    width: $screen-wide;
    margin: 0 auto;
    img {
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}