.collage {
  display: flex
}

.open-caroussel {
  cursor: pointer;
}
.row {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
}
.row-38 {
  flex: $golden-ratio-vw-1;
}
.row-62 {
  flex: $golden-ratio-vw-2;
}
.row-100 {
  flex: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: $third-ratio-vw;
}
.col-38 {
  flex: $golden-ratio-p-1;
}
.col-62 {
  flex: $golden-ratio-p-2;
}
.col-100 {
  width: 100%;
}

.cell {
  display: block;
  box-sizing: border-box;
  background-size: cover;
  background-clip: content-box;
  background-position-x: 50%;
  width: 100%;
}
.cell-1, .cell-38 {
  flex: $golden-ratio-p-1;
}
.cell-2, .cell-62 {
  flex: $golden-ratio-p-2;
}
.cell-3, .cell-100 {
  flex: 100%;
}
.cell-50 {
  height: 50%;
}
