.splash {
    background-image: url(images/splash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    height: 100vh;
    max-height: 667px;
    color: #f3f1ee;
    img {
        width: 100px;
        padding-top: 184px;
    }
    h1 {
        font-size: 34px;
        margin: 0;
    }
    h3 {
        font-family: $sans-serif;
        font-weight: 200;
        font-size: 16px;
        &::before {
            content: '—— '
        }
        &::after {
            content: ' ——'
        }
    }

    @media(min-width: 1024px) {
        max-height: 66vw;
        h1 {
            font-size: 42px;
        }
        h3 {
            font-size: 20px;
        }
    }
    @media(min-width: 1152px) {
        img {
            padding-top: 225px;
        }
        h1 {
            font-size: 50px;
        }
        h3 {
            font-size: 23px;
        }
    }
    @media(min-width: 1280px) {
        img {
            padding-top: 255px;
        }
        h1 {
            font-size: 52px;
        }
        h3 {
            font-size: 25px;
        }
    }
}