<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    {% seo %}

    <meta property="og:type" name="og:type" content="website">
    <meta property="og:image" name="og:image" content="{{ site.url }}/style/images/sig.png">
    <meta property="og:image:width" name="og:image:width" content="200">
    <meta property="og:image:height" name="og:image:height" content="200">

    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>

    {% include header.html %}

    {{ content }}

    <footer>
        <div class="socialmedia">
            <a href="https://www.facebook.com/belinda.terrisse" class="facebook" title="Facebook"><i class="fa fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/belindaterrisse" class="instagram" title="Instagram"><i class="fa fa-instagram"></i></a>
            <a href="https://www.pinterest.com/belindaterrisse" class="pinterest" title="Pinterest"><i class="fa fa-pinterest-p"></i></a>
            <a href="mailto:belindaterrisse@gmail.com" class="email" title="e-mail"><i class="fa fa-envelope-o"></i></a>
        </div>
        <div class="copyright">Copyright &copy; {{ site.time | date: '%Y' }} Belinda Terrisse</div>
    </footer>
</body>

</html>